<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement">
    <authorization>
      <providers>
        <add name="custom" type="Sitecore.Buckets.Security.BucketAuthorizationProvider, Sitecore.Buckets"
             set:type="So.SecurityRuleAuthorizationProvider, So" />
      </providers>
    </authorization>
    <events>
      <event name="item:saved">
        <handler type="So.SecurityRuleMonitor, So" method="OnItemSaved" />
      </event>
      <event name="item:deleting">
        <handler type="So.SecurityRuleMonitor, So" method="OnItemDeleting" />
      </event>
      <event name="role:created">
        <handler type="So.SecurityRuleMonitor, So" method="OnRoleCreated" />
      </event>
      <event name="role:deleted">
        <handler type="So.SecurityRuleMonitor, So" method="OnRoleRemoved" />
      </event>
      <event name="roles:relationsRemoved">
        <handler type="So.SecurityRuleMonitor, So" method="OnRolesInRolesRemoved" />
      </event>
      <event name="roles:rolesAdded">
        <handler type="So.SecurityRuleMonitor, So" method="OnRolesInRolesAltered" />
      </event>
      <event name="roles:rolesRemoved">
        <handler type="So.SecurityRuleMonitor, So" method="OnRolesInRolesAltered" />
      </event>
      <event name="user:created">
        <handler type="So.SecurityRuleMonitor, So" method="OnUserCreated" />
      </event>
      <event name="user:deleted">
        <handler type="So.SecurityRuleMonitor, So" method="OnUserRemoved" />
      </event>
      <event name="roles:usersAdded">
        <handler type="So.SecurityRuleMonitor, So" method="OnRoleReferenceUpdated" />
      </event>
      <event name="roles:usersRemoved">
        <handler type="So.SecurityRuleMonitor, So" method="OnRoleReferenceUpdated" />
      </event>
    </events>
  </sitecore>
</configuration>