<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.14" targetFramework="net48" />
  <package id="Sitecore.Assemblies.Platform" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.3.1" targetFramework="net48" />
</packages>